<div class="box multiview-bottom">
  <div class="create-form">
    <ng-form>
      <div class="form-group">
        <div class="col-sm-10">
          <div class="form-group total-input-container">
            <label class="col-sm-2 control-label" for="topic">{{'admin.topics.title-single' | translate}}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control total-input-size" id="topic" ng-model="topicName" placeholder="{{'admin.topics.title-single' | translate}}">
            </div>
          </div>
        </div>
        <!--<div class="align-form-error">-->
          <!--<span class="help-block" ng-if="usedTopic">{{ 'admin.topics.usedName' | translate}}.</span>-->
        <!--</div>-->
      </div>

      <div class="create-save-container text-right">
        <button class="btn btn-green" ng-click="sendTopic()">{{'admin.save' | translate}}</button>
      </div>
    </ng-form>
    <div  ng-if="topicSaved" th-alert class="stats-alert reevaluations-result" closable="false">
      <span >{{'admin.topics.saved' | translate}}<br/></span>
    </div>
    <div  ng-if="!topicSaved && searched" th-alert class="stats-alert reevaluations-result" closable="false">
      <span >{{'admin.topics.erroMsg' | translate}}<br/></span>
    </div>
</div>