<div class="box multiview-bottom">

    <div class="blue-border-box">
        <div>
            <div class="delete-msg">{{'group.delete.msg' | translate}}<span>*</span></div>

            <div class="delete-buttons">
                <button class="btn btn-blue text-uppercase" ng-click="formSubmit()">{{'group.yes' | translate}}</button>
                <button class="btn btn-red text-uppercase" ng-click="formSubmit()">{{'group.no' | translate}}</button>
            </div>

        </div>
    </div>

    <div class="explanation">
        <div>(*)</div>
        <div>{{'group.delete.explanation' | translate}}</div>
    </div>

</div>