<div class="box multiview-bottom">
  <div th-alert class="yellow-box" closable="false">
    <div>
      {{'group.newGroup.msg1' | translate}}<br/>
      {{'group.newGroup.msg2' | translate}}
      <a ui-sref="group-show.add-members">{{'group.newGroup.addMember1' | translate}}.</a>
    </div>
    <div class="yellow-box-buttons">
      <i class="img-add-member1-size img-large-add-member1 background-img icon add-member1"></i>
      <i class="img-large img-large-add-member2 img-circle background-color background-img icon add-member2"></i>
      <a class="blue-box" ui-sref="group-show.add-members">{{'group.newGroup.addMember2' | translate}}</a>
    </div>
    <div class="another-info">
      {{'group.newGroup.keyMsg' | translate}}.
    </div>
    <div class="yellow-box-buttons">
      <div class="group-key-container">
        <div class="background-key">
          <div>
            <div class="popover top in fade" ng-class="{'active':popover}">
              <div class="arrow"></div>

              <div class="popover-inner">
                <div class="popover-content">{{'group.key.copyInfo' | translate}}</div>
              </div>
            </div>
            <input input-value="key" on-select="popover" th-auto-select/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>