<div class="box">
    <th-head group="true" header-title="'group.title'"></th-head>
    <div class ="images-without-group-table">
        <a ng-href="key"> <div class ="images-without-group-insert-key">
             <i class="img-large-key img-large img-circle background-color background-img"></i>
        </div></a>
        <a ng-href="key">  <div class ="images-without-group-insert-key-text" translate>
           group.key.insert.msg
        </div></a>
        <a ng-href="list"><div class ="images-without-group-search-group">
           <i class="img-large-search img-large img-circle background-color background-img"></i>
        </div></a>
        <a ng-href="list"> <div class ="images-without-group-search-group-text" translate>
            group.search
        </div></a>
    </div>
    <div class="alert-box-without-group alert alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <div class="alert-box-without-group-text"translate>group.alertMsgs.msg1</div>
    </div>
    <div>
        <h5 class="final-msg-without-group" translate>group.alertMsgs.msg2</h5>
    </div>
</div>