<div class="box multiview-bottom group-users">
    <th-loading loading="loading">
      <div class="group-users-menu">
        <div class="checkbox" ng-show="currentUser.isTeacher(group) || currentUser.isAdminInst(group) || currentUser.isAdmin()">
          <label class="ng-binding">
            {{'group.users.selectAll' | translate}} <input type="checkbox" ng-model="searchParams.selectedAll" ng-click="selectAll()"/>
          </label>
        </div>
        <div ng-if="searchParams.selectedAll" class="dropdown group-user-box-menu">
          | <a dropdown-toggle>{{'group.users.exclude' | translate}}</a>
            <span class="dropdown-menu" role="menu">
                <div class="popover right in">
                  <div class="arrow"></div>
                  <div class="popover-inner">
                    <div class="popover-content background-alert">
                      {{'group.users.confirmRemoveSelected' | translate}}
                      <div class="group-exclude-user-menu">
                        <button class="btn btn-blue" ng-click="removeAll()">{{'group.users.yes' | translate}}</button>
                        <button class="btn btn-gray">{{'group.users.cancel' | translate}}</button>
                      </div>
                    </div>
                  </div>
                </div>
            </span>
          <a class="no-visibility"> |{{'group.users.sendMessage' | translate}}</a>
        </div>
      </div>
      <div class="group-user-list">
        <th-group-user-box user="user" ng-repeat="user in userList" is-checked="userSelected" all="searchParams.checkSelectAll" user-removed="userRemoved" update-group="group" ng-show="currentUser.atLeastTeacher(group)"></th-group-user-box>
        <th-group-user-box user="user" ng-repeat="user in userList" ng-show="!currentUser.atLeastTeacher(group)"></th-group-user-box>
      </div>
    </th-loading>

</div>
<div class="pagination-container" ng-if="paginationData.totalItems > paginationData.itemsPerPage && searched && !loading"><pagination items-per-page="paginationData.itemsPerPage" total-items="paginationData.totalItems" ng-model="paginationData.currentPage" ng-change="pageChanged()" max-size="paginationData.maxSize" class="pagination-sm" boundary-links="true" direction-links="false" rotate="false" last-text="{{'pagination.last' | translate}}" first-text="{{'pagination.first'| translate}}"></pagination></div>