<div class="box multiview-bottom">
  <span us-spinner spinner-key="spinner"></span>
    <div class="submission-filter-search">
        <form class="">
          <div class="row" style="width: 100%">
            <th-input-complete-box for="group.students" type="'USER'" only-one="true" fixed-size="true" label="'group.userName' | translate" placeholder="'group.userName' | translate" chosen-list="searchParams.user" element-id="'user-name'" class="col-sm-6"></th-input-complete-box>
            <th-datepicker date="searchParams.submissionDateGe" label="'group.startDate' | translate" elementid="'start-date'" class="col-sm-6"></th-datepicker>
          </div>
            <div class="row" style="width: 100%">
              <th-input-complete-box for="group.problems" type="'PROBLEM'" only-one="true" fixed-size="true" label="'group.problemName' | translate" placeholder="'group.problemName' | translate" chosen-list="searchParams.problem" element-id="'problem-name'" class="col-sm-6"></th-input-complete-box>
              <th-datepicker date="searchParams.submissionDateLe" label="'group.endDate' | translate" elementid="'end-date'" class="col-sm-6"></th-datepicker>
            </div>
            <div class="row" style="width: 100%">
              <th-select-box label="'group.submissions.evaluation' | translate" element="searchParams.evaluations" class="th-select-striped col-sm-6" for="evaluationList"></th-select-box>
              <div class="col-sm-6 submission-list-button-container">
                  <button class="btn btn-blue ng-scope text-uppercase" ng-click="search()" type="button" is-loading="loading">{{'group.submissions.search' | translate }}</button>
              </div>
            </div>
        </form>
    </div>
    <th-loading loading="loading" class="group-submission-list">
      <table class="table submission-list">
        <thead>
        <tr>
          <th>
            <th-order-arrow label="'group.submissions.date'" sort-by="'submissionDate'" order='searchParams.order' element="searchParams.sort" search-function="search()"></th-order-arrow>
          </th>
          <th>
            <th-order-arrow label="'group.submissions.name'" sort-by="'user'" order='searchParams.order' element="searchParams.sort" search-function="search()"></th-order-arrow>
          </th>
          <th>
            <th-order-arrow label="'group.submissions.problem'" sort-by="'problem'" order='searchParams.order' element="searchParams.sort" search-function="search()"></th-order-arrow>
          </th>
          <th class="text-center">
            <th-order-arrow label="'group.submissions.evaluation'" sort-by="'evaluation'" order='searchParams.order' element="searchParams.sort" search-function="search()"></th-order-arrow>
          </th>
          <th class="text-center">
            <th-order-arrow label="'problem.submission.language'" sort-by="'language'" order='searchParams.order' element="searchParams.sort" search-function="search()"></th-order-arrow>
          </th>
          <th>
            {{'group.submissions.visualize' | translate }}
          </th>
          <th>
            {{'group.submissions.reevaluate' | translate}}
          </th>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="submission in submissions" >
            <td>
                {{submission.submissionDate | amDateFormat:'DD/MM/YYYY [às] H:mm:ss'}}
            </td>
            <td class="submission-list-name">
                <th-user-link user="submission.user"></th-user-link>
            </td>
            <td class="group-submission-list-name">
                <a ui-sref="problem-show.description({ id: submission.problem.id })">{{submission.problem.name}}</a>
            </td>
            <td class="text-center">
                <th-submission-status submission="submission" class="popover-gray"></th-submission-status>
            </td>
            <td class="text-center">
              {{submission.language.label}}
            </td>
            <td class="text-center">
              <a ng-if="isAdminPanel" ui-sref="admin.submission-show({subId: submission.id})" class="popover-gray"><i class="img-medium img-medium-blue-search icon img-bottom background-img" popover="{{'submission.visualize' | translate}}" popover-trigger="mouseenter" popover-placement="right"></i></a>
              <a ng-if="!isAdminPanel" ui-sref="group-show.submission-show({id: group.url, subId: submission.id})" class="popover-gray"><i class="img-medium img-medium-blue-search icon img-bottom background-img" popover="{{'submission.visualize' | translate}}" popover-trigger="mouseenter" popover-placement="right"></i></a>
            </td>
          <td class="text-center">
            <a ng-click="reevaluateOne(submission)" class="popover-gray"><i class="glyphicon glyphicon-refresh refresh-icon-size" popover="{{'group.submissions.reevaluate' | translate}}" popover-trigger="mouseenter" popover-placement="right"></i></a>
          </td>
        </tr>
        <tr ng-if="submissions.length == 0"><td translate>group.submissionsEmpty</td></tr>
        </tbody>
      </table>
    </th-loading>
</div>
<th-infinite-pagination loading="loadingMore" has-more="hasMoreSubmissions" has-error="hasErrorSubmissions" event-id="eventId"/>
