<div class="container content">
  <div class="box">
    <th-head header-title="'user.profile'"></th-head>
    <div class="create-form">
      <form ng-submit="formSubmit()" name="changePasswordForm" novalidate>
        <div class="form-group" ng-class="{'has-error': changePasswordForm.newPassword.$dirty && !changePasswordForm.newPassword.$valid}">
          <label class="col-sm-2 control-label" for="newPassword">{{ 'user.edit.newPassword' | translate}}</label>
          <div class="col-sm-10">
            <input class="form-control" type="password" id="newPassword" ng-minlength="form.minLength" ng-blur="validatePassword()" ng-maxlength="form.maxLength" name="newPassword" ng-model="form.newPassword" placeholder="{{ 'user.edit.newPassword' | translate}}" required>
          </div>
          <div class="align-form-error">
            <span class="help-block" ng-if="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$error.minlength">{{ 'user.edit.shortPassword' | translate}}.</span>
            <span class="help-block" ng-if="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$error.maxlength">{{ 'user.edit.longPassword' | translate}}.</span>
            <span class="help-block" ng-if="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$error.required">{{ 'user.edit.required' | translate}}.</span>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': changePasswordForm.confimNewPassword.$dirty && !changePasswordForm.confimNewPassword.$valid}">
          <label class="col-sm-2 control-label" for="confimNewPassword">{{ 'user.edit.confirmNewPassword' | translate}}</label>
          <div class="col-sm-10">
            <input class="form-control" type="password" id="confimNewPassword" name="confimNewPassword" ng-model="form.confirmNewPassword" ng-change="validatePassword()" placeholder="{{ 'user.edit.confirmNewPassword' | translate}}" required>
          </div>
          <div class="align-form-error">
            <span class="help-block" ng-if="changePasswordForm.confimNewPassword.$dirty && changePasswordForm.confimNewPassword.$error.match">{{ 'user.edit.passwordDontMatch' | translate}}.</span>
            <span class="help-block" ng-if="changePasswordForm.confimNewPassword.$dirty && changePasswordForm.confimNewPassword.$error.required">{{ 'user.edit.required' | translate}}.</span>
          </div>
        </div>

        <div class="form-group" ng-class="{'has-error': (changePasswordForm.currentPassword.$dirty && !changePasswordForm.currentPassword.$valid) || (form.submitted && !form.changePass)}">
          <label class="col-sm-2 control-label" for="currentPassword">{{ 'user.edit.currentPassword' | translate}}</label>
          <div class="col-sm-10">
            <input class="form-control" type="password" id="currentPassword" name="currentPassword" ng-model="form.password" placeholder="{{ 'user.edit.currentPassword' | translate}}" required>
          </div>
         <div class="align-form-error">
           <span class="help-block" ng-if="changePasswordForm.currentPassword.$dirty && changePasswordForm.currentPassword.$error.required">{{ 'user.edit.required' | translate}}</span>
           <span class="help-block" ng-if="form.submitted && !form.changePass">{{ 'user.edit.invalidPassword' | translate}}.</span>
         </div>
        </div>

        <div class="create-save-container text-right">
          <span ng-show="form.submitted && form.changePass">{{ 'user.edit.passwordChanged' | translate}}.</span>
          <input class="btn btn-blue" type="submit" value="{{'user.edit.save' | translate}}"/>
        </div>
      </form>
    </div>
  </div>
</div>