<div class="box multiview-bottom">
  <div>
    <th-loading loading="loading">
      <table class="table">
    <thead>
    <tr>
      <th class="profile-problem-title1-config">
      {{'user.table.title' | translate}}
      </th>
      <th class="profile-problem-title2-config">
        {{'user.table.status' | translate}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="problem in problems">
      <td colspan="2"><th-problem-box problem="problem" show-status="true" show-topics="true"></th-problem-box></td>
    </tr>
    <tr ng-if="problems.length == 0"><td translate>profile.problemNotFound</td></tr>
    </tbody>
  </table>
    </th-loading>
</div>
</div>
<div class="pagination-container" ng-show="paginationData.totalItems > paginationData.itemsPerPage && !loading">
  <pagination ng-show="paginationData.totalItems > paginationData.itemsPerPage" items-per-page="paginationData.itemsPerPage"
              total-items="paginationData.totalItems"
              ng-model="paginationData.currentPage"
              ng-change="paginationChanged()"
              max-size="paginationData.maxSize"
              class="pagination-sm"
              boundary-links="true"
              direction-links="false"
              rotate="false"
              last-text="{{'pagination.last' | translate}}"
              first-text="{{'pagination.first'| translate}}" />
</div>