<div style="margin-bottom: 75px">
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '890507707661023',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<div class="layout-container hidden-sm hidden-xs" style="height: 10px">
  <div class="layout-header">
    <div class="layout-header-size offline">
      <div class="layout-header-logo offline">
        <a ui-sref="home"><i class="img-logo-white icon"></i></a>
      </div>

      <div class="layout-header-search-bar offline" dropdown is-open="searchDropdown.isOpen1">
        <div class="input-group input-group-sm">
          <input  type="text" ng-model="searchParams.q" ng-change="search('isOpen1')" class="form-control" placeholder="{{:: 'layoutHeader.siteSearch' | translate}}">
          <span class="input-group-btn">
            <button class="background-img background-color icon img-medium img-medium-white-search btn" type="button" ng-click="search()"></button>
          </span>
        </div>
        <ul class="dropdown-menu" is-open="searchDropdown.isOpen1">
          <li ng-show="problems.length" class="result-title"><strong>{{'problems'|translate}}</strong></li>
          <li ng-repeat="problem in problems">
            <a ui-sref="problem-show.description({'id': problem.id})">{{problem.name}}</a>
          </li>
          <li ng-show="users.length" class="result-title"><strong>{{'users'|translate}}</strong></li>
          <li ng-repeat="user in users" class="user-result">
            <a ui-sref="profile-show.problems({'id': user.id})"><img class="header-search-img-size" src="{{user.avatar}}?width=32&height=32">{{user.name}}</a>
          </li>
          <li ng-show="groups.length" class="result-title"><strong>{{'groups'|translate}}</strong></li>
          <li ng-repeat="group in groups">
            <a ui-sref="group-show.quizzes({'id': group.url})">{{group.name}}</a>
          </li>
          <li ng-if="!groups.length && !users.length && !problems.length" class="no-results"><span>{{'search.noResults'|translate}}</span></li>
        </ul>
      </div>

      <div class="layout-header-shortcuts-wrapper">
        <div class="layout-header-shortcuts-config world-align" dropdown ng-init="language = currentUser.getLocale().replace('_','')">
          <button type="button" class="background-img icon img-shortcuts img-shortcuts-world" dropdown-toggle>
            <span class="actual-language">{{'user.languages.' + language | translate}}</span>
          </button>
          <div class="arrow-up arrow-blue"></div>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="(key,value) in languages" ng-if="key !== currentUser.getLocale()"><a ng-click="changeLanguage(key)" translate>{{value}}</a></li></li>
          </ul>
        </div>
      </div>

      <div class="layout-header-login">
        <form class="form-inline">
          <div class="text-inputs">
            <div class="form-group">
              <label class="sr-only" for="username">{{:: 'unauthenticatedHeader.user' | translate }}</label>
              <input class="form-control" id="username" placeholder="{{:: 'unauthenticatedHeader.user' | translate }}" ng-model="auth.username">
            </div>

            <div class="form-group">
              <label class="sr-only" for="password">{{:: 'unauthenticatedHeader.password' | translate }}</label>
              <input type="password" class="form-control" id="password" placeholder="{{:: 'unauthenticatedHeader.password' | translate }}" ng-model="auth.password">
            </div>

            <button type="submit" class="btn btn-blue" ng-click="login()" is-loading="$loadingLogin">{{:: 'unauthenticatedHeader.login' | translate }}</button>
          </div>

          <div class="other-info">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="auth.rememberMe"> <span>{{:: 'unauthenticatedHeader.keepConected' | translate }}</span>
              </label>
            </div>

            <div class="pass-reminder">
              <a ui-sref="retry-password">{{:: 'unauthenticatedHeader.forgetPassword' | translate }}</a>
            </div>
          </div>
        </form>
        <button class="btn btn-green text-uppercase" ui-sref="sign-in">{{:: 'unauthenticatedHeader.register' | translate }}</button>
      </div>
    </div>
  </div>

  <!--<div class="layout-menu-container">-->
    <!--<div class="layout-menu">-->
      <!--<a ui-sref="problem-list">-->
        <!--<i class="background-img icon img-medium img-medium-problem-icon"></i>-->
        <!--<div class="text-uppercase" translate>problems</div>-->
      <!--</a>-->

      <!--<a ui-sref="submission-list">-->
        <!--<i class="background-img icon img-medium img-medium-submission-icon"></i>-->
        <!--<div class="text-uppercase" translate>submissions</div>-->
      <!--</a>-->

      <!--<a ui-sref="quiz-list">-->
        <!--<i class="background-img icon img-medium img-medium-quiz-icon"></i>-->
        <!--<div class="text-uppercase" translate>quizzes</div>-->
      <!--</a>-->

      <!--<a ui-sref="group-list">-->
        <!--<i class="background-img icon img-menu img-medium-group-icon"></i>-->
        <!--<div class="text-uppercase" translate>groups</div>-->
      <!--</a>-->

      <!--<a ui-sref="topcoder-show">-->
        <!--<i class="icon img-menu fa fa-star-o top-coder-icon"></i>-->
        <!--<div class="text-uppercase" translate>topcoder</div>-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
</div>

<div class="layout-container hidden-md hidden-lg">
  <div class="layout-header">
    <div class="layout-header-small">
      <nav role="navigation">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu" class="layout-menu-dropdown">
            <a ui-sref="problem-list">
              <i class="background-img icon img-medium img-medium-problem-icon"></i>
              <div class="text-uppercase" translate>problems</div>
            </a>

            <a ui-sref="submission-list">
              <i class="background-img icon img-medium img-medium-submission-icon"></i>
              <div class="text-uppercase" translate>submissions</div>
            </a>

            <a ui-sref="quiz-list">
              <i class="background-img icon img-medium img-medium-quiz-icon"></i>
              <div class="text-uppercase" translate>quizzes</div>
            </a>

            <a ui-sref="group-list">
              <i class="background-img icon img-menu img-medium-group-icon"></i>
              <div class="text-uppercase" translate>groups</div>
            </a>

            <a ui-sref="topcoder-show">
              <i class="icon img-menu fa fa-star-o top-coder-icon"></i>
              <div class="text-uppercase" translate>topcoder</div>
            </a>
          </ul>
        </div>
      </nav>
      <div class="layout-header-logo offline">
        <a ui-sref="home"><i class="background-img img-medium icon img-medium-logo"></i></a>
      </div>

      <div class="layout-header-search-bar" dropdown is-open="searchDropdown.isOpen2">
        <div class="input-group input-group-sm">
          <input  type="text" ng-model="searchParams.q" ng-change="search('isOpen2')" class="form-control" placeholder="{{:: 'layoutHeader.siteSearch' | translate}}">
          <span class="input-group-btn">
            <button class="background-img background-color icon img-medium img-medium-white-search btn" type="button" ng-click="search()"></button>
          </span>
        </div>
        <ul class="dropdown-menu" is-open="searchDropdown.isOpen2">
          <li ng-show="problems.length" class="result-title"><strong>{{'problems'|translate}}</strong></li>
          <li ng-repeat="problem in problems">
            <a ui-sref="problem-show.description({'id': problem.id})">{{problem.name}}</a>
          </li>
          <li ng-show="users.length" class="result-title"><strong>{{'users'|translate}}</strong></li>
          <li ng-repeat="user in users" class="user-result">
            <a ui-sref="profile-show.problems({'id': user.id})"><img class="header-search-img-size" src="{{user.avatar}}?width=32&height=32">{{user.name}}</a>
          </li>
          <li ng-show="groups.length" class="result-title"><strong>{{'groups'|translate}}</strong></li>
          <li ng-repeat="group in groups">
            <a ui-sref="group-show.quizzes({'id': group.url})">{{group.name}}</a>
          </li>
          <li ng-if="!groups.length && !users.length && !problems.length" class="no-results"><span>{{'search.noResults'|translate}}</span></li>
        </ul>
      </div>

      <div class="layout-header-shortcuts-wrapper">
        <div class="layout-header-shortcuts-config world-align offline" dropdown>
          <button type="button" class="background-img icon img-shortcuts img-shortcuts-world" dropdown-toggle>
          </button>
          <div class="arrow-up arrow-blue"></div>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="(key,value) in languages" ng-if="key !== currentUser.locale"><a ng-click="changeLanguage(key)" translate>{{value}}</a></li></li>
          </ul>
        </div>
      </div>

      <div class="layout-header-login-buttons hidden-xs">
        <div>
          <button class="btn btn-blue text-uppercase" ui-sref="login">{{:: 'unauthenticatedHeader.login' | translate }}</button>
        </div>
        <div>
          <button class="btn btn-green text-uppercase" ui-sref="sign-in">{{:: 'unauthenticatedHeader.register' | translate }}</button>
        </div>
      </div>
      <div class="layout-header-login-buttons hidden-sm">
        <div>
          <button class="btn btn-blue text-uppercase" ui-sref="login">{{:: 'unauthenticatedHeader.login' | translate }}</button>
        </div>
        <div>
          <button class="btn btn-green text-uppercase" ui-sref="sign-in">{{:: 'unauthenticatedHeader.register' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>