<div class="container content">
  <div class="box home-box">

    <div class="home-panel">
      <div class="home-panel-left">

      </div>
      <div class="home-panel-mid">
        <div class="home-panel-logo-container"><i class="img-circle icon"><i class="background-img icon img-bigger img-circle img-bigger-white-huxley blue"></i></i></div>
        <div>
          <h5>{{'unauthenticated.msgPt1' | translate}}</h5>
          {{'unauthenticated.msgPt2' | translate}}<br>
          {{'unauthenticated.msgPt3' | translate}}
          <a ui-sref="login">{{'unauthenticated.msgPt4' | translate}}</a>
          {{'unauthenticated.msgPt5' | translate}}
          <a ui-sref="sign-in">{{'unauthenticated.msgPt6' | translate}}</a>
          {{'unauthenticated.msgPt7' | translate}}

        </div>
      </div>
    </div>
  </div>

</div>