<div class="container content">
  <div class="box home-box">

    <div class="home-panel">
      <div class="home-panel-left">

      </div>
      <div class="home-panel-mid">
        <div class="home-panel-logo-container"><i class="img-circle icon"><i class="background-img icon img-bigger img-circle img-bigger-white-huxley blue"></i></i></div>
        <div>
          <h5 translate>problem.notFoundTitle</h5>
          <p><span translate>problem.notFoundText</span> <a ui-sref="problem-list" translate>problem.notFoundSearch</a></p>
        </div>
      </div>
    </div>
  </div>

</div>